{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Priorite</th>
            <th>Statut</th>
            <th>Affecté</th>
            <th>Date_creation</th>
            <th>Date_maximum_reso</th>
            <th>Date_resolu</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.description }}</td>
                <td>{{ ticket.priority ? ticket.priority.label() : '' }}</td>
                <td>{{ ticket.status ? ticket.status.label() : '' }}</td>
                <td>{{ ticket.assignedTo ? ticket.assignedTo.email : '' }}</td>
                <td>{{ ticket.createdat ? ticket.createdat|date('Y-m-d') : '' }}</td>
                <td>{{ ticket.deadline ? ticket.deadline|date('Y-m-d') : '' }}</td>
                <td>{{ ticket.resolveAt ? ticket.resolveAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}">show</a>
                    {% if is_granted('ROLE_SUPPORT') %}
                        <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">edit</a>
                        {% if ticket.assignedTo is null %}
                            <form action="{{ path('app_ticket_assign', {'id': ticket.id}) }}" method="post">
                                <input type="hidden" name="_token" value="{{ csrf_token('assign' ~ ticket.id) }}">
                                <button type="submit">Assign</button>
                            </form>
                        {% endif %}
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_ticket_new') }}">Create new</a>
    <canvas style="height: 300px; width: 300px; max-height: 300px" id="myPieChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {

            let ctx = document.getElementById('myPieChart').getContext('2d');
            let myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: {{ chartLabels|json_encode|raw }},
                    datasets: [{
                        label: 'Number of Tickets by Status',
                        data: {{ chartValues|json_encode|raw }},
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        });
    </script>
{% endblock %}
