{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link w-100 text-left" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Table Tickets
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body overflow-x-auto">
                        {{ form_start(form, {'attr': {'class': 'mb-3'}}) }}
                        <div class="row g-2 align-items-end">
                            <div class="col-12 col-md-3">{{ form_row(form.title) }}</div>
                            <div class="col-12 col-md-3">{{ form_row(form.priority) }}</div>
                            <div class="col-12 col-md-3">{{ form_row(form.status) }}</div>
                            <div class="col-12 col-md-3">{{ form_row(form.createdat) }}</div>
                            <div class="col-12 col-md-3">
                                <button class="btn btn-primary w-100" type="submit">Filter</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                        <h5 class="mt-3">List of tickets</h5>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead class="border-primary border-1">
                                <tr>
                                    <th>Id</th>
                                    <th>Titre</th>
                                    <th>Description</th>
                                    <th>Priorite</th>
                                    <th>Statut</th>
                                    <th>Affecté</th>
                                    <th>Date_creation</th>
                                    <th>Date_maximum_reso</th>
                                    <th>Date_resolu</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ticket in tickets %}
                                    <tr class="border-end border-start">
                                        <td>{{ ticket.id }}</td>
                                        <td>{{ ticket.title }}</td>
                                        <td>{{ ticket.description }}</td>
                                        <td>
                                            {% if ticket.priority %}
                                                <span class="dot
                                            {% if ticket.priority.label() == 'High Priority' %}priority-high{% endif %}
                                            {% if ticket.priority.label() == 'Medium Priority' %}priority-medium{% endif %}
                                            {% if ticket.priority.label() == 'Low Priority' %}priority-low{% endif %}
                                                "></span>
                                                {{ ticket.priority.label() }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if ticket.status %}
                                                <span class="dot
                                            {% if ticket.status.label() == 'Open' %}status-open{% endif %}
                                            {% if ticket.status.label() == 'In Progress' %}status-in-progress{% endif %}
                                            {% if ticket.status.label() == 'Closed' %}status-closed{% endif %}
                                                "></span>
                                                {{ ticket.status.label() }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ ticket.assignedTo ? ticket.assignedTo.email : '' }}
                                            {% if is_granted('ROLE_SUPPORT') %}
                                                {% if ticket.assignedTo is null %}
                                                    <form action="{{ path('app_ticket_assign', {'id': ticket.id}) }}" method="post" class="d-inline">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('assign' ~ ticket.id) }}">
                                                        <button class="btn btn-primary btn-sm" type="submit">Assign</button>
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td>{{ ticket.createdat ? ticket.createdat|date('Y-m-d') : '' }}</td>
                                        <td>{{ ticket.deadline ? ticket.deadline|date('Y-m-d') : '' }}</td>
                                        <td>{{ ticket.resolveAt ? ticket.resolveAt|date('Y-m-d') : '' }}</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="{{ path('app_ticket_show', {'id': ticket.id}) }}">show</a>
                                            {% if is_granted('ROLE_SUPPORT') %}
                                                <a class="btn btn-primary btn-sm" href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">edit</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="10">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="mt-3">
                            <a class="btn btn-primary" href="{{ path('app_ticket_new') }}">Create new</a>
                        </div>
                    </div>
                </div>
            </div>

            {% if is_granted('ROLE_SUPPORT') %}
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link w-100 text-left" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Statistics Tickets
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <h2>Statistics</h2>
                            <div class="mb-3">
                                Total Tickets: {{ totalTickets }}
                            </div>
                            <div class="row justify-content-around">
                                <div class="col-12 col-md-5 mb-3">
                                    <canvas style="max-height: 300px" id="statusCountChart"></canvas>
                                </div>
                                <div class="col-12 col-md-5 mb-3">
                                    <canvas style="max-height: 300px" id="expiredTicketsChart"></canvas>
                                </div>
                            </div>
                            <div class="col-12">
                                <canvas style="max-height: 300px" id="createdByMonthDiagram"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Function to create a chart
            function createChart(ctx, type, labels, data, label) {
                // Check if the chart already exists
                if (ctx.chart) {
                    ctx.chart.destroy();
                }

                // Create new chart
                ctx.chart = new Chart(ctx, {
                    type: type,
                    data: {
                        labels: labels,
                        datasets: [{
                            label: label,
                            data: data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: label
                            }
                        }
                    }
                });
            }

            // Chart for Status Count
            let statusCountCtx = document.getElementById('statusCountChart').getContext('2d');
            createChart(statusCountCtx, 'pie', {{ chartStatusCountLabels|json_encode|raw }}, {{ chartStatusCountValues|json_encode|raw }}, 'Number of Tickets by Status');

            // Chart for Expired Tickets
            let expiredTicketsCtx = document.getElementById('expiredTicketsChart').getContext('2d');
            createChart(expiredTicketsCtx, 'pie', {{ chartExpiredTicketsLabels|json_encode|raw }}, {{ chartExpiredTicketValues|json_encode|raw }}, 'Number of Tickets expired by Priority');

            // Chart for Created Tickets by Month
            let createdByMonthCtx = document.getElementById('createdByMonthDiagram').getContext('2d');
            let labels = {{ chartTicketsByMonthLabels|json_encode|raw }};
            let data = {{ chartTicketsByMonthValues|json_encode|raw }};
            if (labels.length > 0 && data.length > 0) {
                createChart(createdByMonthCtx, 'bar', labels, data, 'Number of Tickets created by Month');
            } else {
                console.warn('No data available for the monthly chart.');
            }
        });
    </script>
{% endblock %}